html * {
	font-family: Arial;
	/*color: #17a2b8;*/
}
input[type=button] {
	cursor: pointer;
}
.btn {
	cursor: pointer;
}
.icon {
	font-size: 30px !important;
}
.db_list {
	float: left;
	height: 95vh;
	width: 25vw;
	border: 1px solid black;
}
.db_button {
	background-color: white;
	border-radius: 4px;
    color: black;
	border: 2px solid #555555;
	outline: none;
	float: left;
	height: 4vh;
	width: 75%;
	font-size: 20px;
	margin-left: 1vw;
}
.db {
	border: 1px solid black;
	float: right;
	height: 95vh;
	width: 70vw;
}
.db_info {
	border-bottom: 1px solid black;
	font-size: 25px;
	height: 10vh;
}
.db_tree {
	margin-left: 1vw;
	width: 32vw;
	float: left;
}
.record_data {
	border-left: 1px solid black;
	float: right;
	width: 35vw;
	height: 81.7vh;
	overflow-y: auto;
}
.record {
	cursor: help;
}
.bucket {
	cursor: pointer;
}

.popup {
	position: absolute;
	bottom: 0.5vh;
	left: 0.5vw;
	width: 300px;
	height: 100px;
	visibility: hidden;

	cursor: pointer;
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
}

.popup_animation {
	visibility: visible;
	animation-name: movePopup;
	animation-iteration-count: 1;
	animation-duration: 2s;
}

@keyframes movePopup {
	0% {margin-left: -300px;}
	100% {margin-left: 0px;}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#555; 
}