/* Common */
html * {
	font-family: Arial;
}
input[type=button] {
	cursor: pointer;
}
.btn {
	cursor: pointer;
}
.icon {
	font-size: 30px !important;
}
.button {
	cursor: pointer;
	border-radius: 3px;
	border: 2px solid #888;
	background-color: white;
}

/* Main classes */
.menu {
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	font-size: 20px;
	background-color: rgba(180, 180, 180, 0.493);
	text-align: center;
}

/* The list of dbs */
.db_list {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 300px;
	z-index: 1;
	background-color: white;
}
.db_list_animation {
	animation-name: openDB;
	animation-iteration-count: 1;
	animation-duration: 0.5s;
}
@keyframes openDB {
	0% {margin-left: -300px;}
	100% {margin-left: 0px;}
}

.db_button {
	margin-bottom: 15px;
	background-color: white;
	border-radius: 4px;
    color: black;
	border: 2px solid #555555;
	outline: none;
	float: left;
	height: 4vh;
	width: 75%;
	font-size: 20px;
	margin-left: 1vw;
}

/* Consist info about the current db and records */
.db {
	height: 95vh;
	width: 96%;
	margin: auto;
}
.db_info {
	font-size: 25px;
	height: 10vh;
}
.db_tree_wrapper {
	height: 100%;
	width: 55%;
	float: left;
	overflow-y: scroll;
}
.record_data {
	float: right;
	width: 42%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	overflow-y: auto;

    background-color: white;/* Black w/ opacity */
}
.record {
	cursor: help;
}
.bucket {
	cursor: pointer;
}


/* Popup */
.popup {
	position: absolute;
	bottom: 0.5vh;
	left: 0.5vw;
	width: 300px;
	height: 100px;
	z-index: 2;
	visibility: hidden;
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
	border-radius: 6px;
}
.popup_animation {
	visibility: visible;
	animation-name: movePopup;
	animation-iteration-count: 1;
	animation-duration: 2s;
}
@keyframes movePopup {
	0% {margin-left: -300px;}
	100% {margin-left: 0px;}
}


/* Popup menu */
.popup_menu {
	visibility: hidden;
	position: fixed;
	height: auto;
	width: 100px;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(180, 180, 180, 0.493);
	display: block;
	border-radius: 5px;
	z-index: 1;
}
.popup_button {
	border-radius: 2px;
	border: 1px solid black;
	width: 100%;
	background-color: white;
	font-size: 15px;
	margin: auto;
	margin-bottom: 5px;
}

/* DonePopup */
.done_popup {
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	text-align: center;
	background-color: rgba(180, 180, 180, 0.493);
	border-radius: 5px;
	border: 1px solid rgba(180, 180, 180, 0.7);
	width: 60px;
	height: 20px;
}
.done_popup_animation {
	animation-name: moveDonePopup;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
@keyframes moveDonePopup {
	0% {opacity: 0.1;}
	40%, 60% {opacity: 1;}
	100% {opacity: 0.1;}
}


/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.493); 
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}


/* Modal Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
	padding: 20px;
	text-align: center;
	border: 1px solid #888;
	border-radius: 5px;
    width: 40vw;
}
.background {
	display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
