<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>boltDB web-browser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Custom css and js -->
	<link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
	<script src="/static/main.js"></script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Icons -->
	<link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body onload="ShowDBList(); PrepareLS();" style="margin: 0px 0px 0px 0px;">
	<!-- Menu -->
	<div class="menu" id="menu">	
		<div style="float: left; margin: 2px 0px 0px 2px;">
			<i class="material-icons" style="font-size: 30px !important; cursor: pointer;" onclick="ShowDBsList();">list</i>
		</div>
		<div style="padding-top: 5px; display:inline-flex;">
				boltBrowser v1.2
		</div>
		<div style="float: right; margin: 2px 2px 0px 0px;">
			<a href="https://github.com/ShoshinNikita/boltbrowser/issues" target="_blank" style="color: black;">
				<i class="material-icons" style="font-size: 30px !important;" title="Leave feedback">feedback</i>
			</a>
		</div>
	</div>

	<!-- List of dbs -->
	<div class="background" id="dbListBackground">
		<div class="db_list" id="dbList">
			<div style="font-size: 25px; text-align: center; margin: auto; position: relative; border-bottom: 1px solid black;">
					Databases
				<i class="material-icons btn icon" style="font-size: 30px !important; position: absolute; top: 0px; right: 1vw;" onclick="ShowModal();" title="Open new db">add</i>
			</div>
			<br>
			<div id="list" style="overflow-y: auto;"></div>
		</div>
	</div>

	<div class="db">
		<div class="db_info">
			<div style="margin: 0px 5px 5px 5px;">
				<!-- Main info -->
				<div style="float: left;">
					<div id="dbName"><i>Name:</i> ?</div>
					<div id="dbPath" style="font-size: 17px;"><i>Path:</i> ?</div>
					<div id="dbSize" style="font-size: 17px;"><i>Size:</i> ?</div>
				</div>
				<!-- Search -->
				<div id="searchBox" style="float: right; visibility: hidden;">
					<div style="float: left; font-size: 15px;">
							<input type="text" id="searchText" style="width: 200px; font-size: 17px;">
							<br>
							Regex-mode: <input type="checkbox" id="regexMode" title="Regex-mode">
					</div>
					<div style="float: right;">
						<i class="material-icons icon" style="cursor: pointer; font-size: 35px !important;" title="Search" onclick="Search();">search</i>
						<br>
						<i class="material-icons" style="cursor: pointer; font-size: 35px !important;" title="Hide results" onclick="ChooseDB(currentDBPath);">close</i>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Path to the current bucket -->
		<div style="height: 3vh;">
			<i><div id="currentPath" style="margin: 1px 5px 1px 5px;"></div></i>
		</div>

		<!-- Records -->
		<div style="height: 81vh; border-top: 1px solid black;">
			<div style="overflow: auto; float: left; height: 81vh;" id="db_tree_wrapper">
				<div class="db_tree" id="db_tree"></div>
			</div>
			<div class="record_data">
				<div style="margin: 5px 5px 0px 5px;"id="record_data"></div>	
			</div>
		</div>
	</div>

	<div class="popup" id="popup" onclick="HidePopup();">
		<div style="padding: 5px 5px 5px 5px;" id="popupMessage"></div>
	</div>

	<div id="modal" class="modal">
		<div class="modal-content">
			<input list="paths" id="DBPath" style="width: 85%;" autofocus>
			<datalist id="paths"></datalist>
			<input type="button" value="Open" style="border-radius: 3px; border: 2px solid #888; background-color: white;" onclick="OpenDB(); HideModal();">
		</div>
	</div>
</body>
</html>